{% extends "profiles/base.html" %}

{% block head_content %}
<title>@{{ user.username }} | torrebio-in</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">

            <div class="col-sm-12 d-flex justify-content-center">
                <img
                    src="{{ user.profile.picture.url }}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    width="150px"
                    height="150px"
                />
            </div>
            <div class="col-sm-12 d-flex justify-content-center" >
                    <h2 style="font-weight: 100;">
                        @{{ user.username }}
                    </h2>
                </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <p>LinkedIn:</p>
                {% if request.session.access_token %}
                    <label> Already Authenticated with LinkedIn</label>
                {% else%}
                    <a class="ml-5 btn btn-sm btn-outline-info" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=78evh5k1q2yj6n&redirect_uri=https%3A%2F%2Ftorrebio-in.appspot.com/callback&state=987654321&scope=r_basicprofile">Login with LinkedIn</a>
                {% endif %}
            </div>
            {% if request.session.access_token %}
            <div class="col-sm-12 justify-content-center">
                <h4>Linked In URL</h4>
                <p>{{data.publicProfileUrl}}</p>
            </div>
            <div class="col-sm-12 justify-content-center">
                <h4>Linked In Bio</h4>
                <p>{{data.summary}}</p>
            </div>
            <div class="col-sm-12 justify-content-center">
                <h4>Industry</h4>
                <p>{{data.industry}}</p>
            </div>
            <div class="col-sm-12 justify-content-center">
                <h4>Location</h4>
                <p>{{data.location.name}}</p>
            </div>
            <div class="col-sm-12 justify-content-center">
                <h4>Number of Connections</h4>
                <p>{{data.numConnections}}</p>
            </div>
            <div class="col-sm-12 justify-content-center">
                <h4>Job History</h4>
                {% for obj in data.positions.values %} 
                    <h5>Position</h5>
                    {{obj.title}}
                    <h5>Company</h5>
                    {{obj.company.name}}
                    <h5>Industry</h5>
                    {{obj.company.industry}}
                    <h5>Type</h5>
                    {{obj.company.type}}
                    <h5>Start Year</h5>
                    {{obj.startDate.year}}
                {% endfor %}
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                

            </div>
            {% endif %}
            

            
            
        </div>
    </div>
{% endblock %}
