{% extends "profiles/base.html" %}

{% block head_content %}
<title>@{{ user.username }} | torrebio-in</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">

            <div class="col-sm-12 d-flex justify-content-center">
                <img
                    src="{{ user.profile.picture.url }}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    width="150px"
                    height="150px"
                />
            </div>
            <div class="col-sm-12 d-flex justify-content-center" >
                    <h2 style="font-weight: 100;">
                        @{{ user.username }}
                    </h2>
                </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <label>Torre Bio username : </label>
                <p> {{request.user.profile.torre_username}}</p>
            </div>
            {% if request.user.profile.torre_username %}
           
                <div class="col-sm-12 justify-content-center">
                    <h4>Name</h4>
                    <p>{{data.name}}</p>
                </div>
                <div class="col-sm-12 justify-content-center">
                    <h4>Email</h4>
                    <p>{{data.email}}</p>
                </div>
                <div class="col-sm-12 justify-content-center">
                    <h4>Headline</h4>
                    <p>{{data.professionalHeadline}}</p>
                </div>
                <div class="col-sm-12 justify-content-center">
                    <h4>Location</h4>
                    <p>{{data.location}}</p>
                </div>
                <div class="col-sm-12 justify-content-center">
                    <h4>Stats</h4>
                    <p>{{data.stats}}</p>
                </div>
            {% endif %}
            

            
            
        </div>
    </div>
{% endblock %}
